// Container & Breakpoints

$containerWidth: 1500;
$containerSidePadding: 100;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

// Colors
$primary: #000000;
$secondary-dark: #5c5c5c;
$secondary: #b6b6b6;
$secondary-light: #c8c8c8;
$background-violet: #5364ff;

$blue: #215ee6;
$white: #ffffff;
$yellow: #ffc200;
$red: #f5050e;
$violet: #8F21E6;